<nav role="navigation" aria-label="Main navigation">

  <!-- Get the collections -->
  {%- assign collections = site.collections | where: "is_post", false | sort: "nav_order" -%}

  <!-- Loop the collections -->
  {%- for collection in collections -%}
    <div class="navigation-section">
      <div class="navigation-section-content">
        <h3 class="mt-0">{{ collection.title | capitalize }}</h3>

        <!-- Get all the sections -->
        {%- assign sections = collection.sections | sort: "nav_order" -%}

        <!-- Loop the sections -->
        {%- for section in sections -%}
          <h4>{{ section.name }}</h4>

          <!-- Get the section pages -->
          {%- assign section_pages = collection.docs | where: "section", section.name | sort: "nav_order" -%}
          {%- assign section_pages_size = section_pages | size -%}

          <!-- Unless there is no section pages -->
          {%- unless section_pages_size == 0 -%}

            <ul class="navigation-list">

            <!-- Loop the section pages -->
            {%- for section_page in section_pages -%}

              <!-- Unless there is a parent or grand_parent -->
              {%- unless section_page.parent_uuid -%}

                <li class="navigation-list-item{% if section_page.uuid == page.uuid or section_page.uuid == page.parent_uuid or section_page.uuid == page.grand_parent_uuid %} active{% endif %}">
                  <a href="{{ section_page.url | prepend: site.baseurl }}" class="navigation-list-link{% if page.uuid == section_page.uuid %} active{% endif %}">{{ section_page.title }}</a>

                  <!-- Get the children of the primary page -->
                  {%- assign children = section_pages | where: "parent_uuid", section_page.uuid | sort: "nav_order" -%}
                  {%- assign children_size = children | size -%}

                  <!-- Unless there is no children -->
                  {%- unless children_size == 0 -%}

                    <ol class="navigation-list-child-list">

                      <!-- Loop the children -->
                      {%- for child in children -%}
                        <li class="navigation-list-item{% if child.uuid == page.uuid or child.uuid == page.parent_uuid %} active{% endif %}">
                          <a href="{{ child.url | absolute_url }}" class="navigation-list-link{% if child.uuid == page.uuid %} active{% endif %}">{{ child.title }}</a>

                          <!-- If the child is the page parent -->
                          {% if child.uuid == page.parent_uuid %}
                            <!-- Get the grand children -->
                            {%- assign grand_child = section_pages | where: "uuid", page.uuid | first -%}
                            <ul class="navigation-list-child-list custom-style">
                              <li class="navigation-list-item{% if grand_child.uuid == page.uuid %} active{% endif %}">
                                <a href="{{ grand_child.url | absolute_url }}" class="navigation-list-link{% if grand_child.uuid == page.uuid %} active{% endif %}">{{ grand_child.title }}</a>
                              </li>
                            </ul>
                          {%- endif -%}

                        </li>
                      {%- endfor -%}

                    </ol>
                  {%- endunless -%}
                </li>
              {%- endunless -%}
            {%- endfor -%}
            </ul>
          {%- endunless -%}
        {%- endfor -%}
      </div>
    </div>
  {%- endfor -%}
</nav>
