{%- assign include_nav = site.data.nav.includes | where: "title", include.title | first -%}

<div class="tab-main">

  {%- for tab in include_nav.tabs -%}
    {%- if forloop.first -%}
      <input class="tab-controller" type="radio" name="tab-controller-{{ include_nav.title }}" id="tab-controller-{{ include_nav.title }}-{{ forloop.index }}" checked />
    {%- else -%}
      <input class="tab-controller" type="radio" name="tab-controller-{{ include_nav.title }}" id="tab-controller-{{ include_nav.title }}-{{ forloop.index }}" />
    {%- endif -%}
  {%- endfor -%}

  <nav class="tab-nav">
    {%- for tab in include_nav.tabs -%}
      <label class="tab-nav__item tab-nav__item--{{ forloop.index }} text-delta" for="tab-controller-{{ include_nav.title }}-{{ forloop.index }}">{{ tab.title }}</label>
    {%- endfor -%}
  </nav>

  {%- for tab in include_nav.tabs -%}
    <div class="tab-content tab-content--{{ forloop.index }}">
      {%- capture content %}{% include {{ tab.path }} %}{% endcapture -%}
      {{ content | markdownify }}
    </div>
  {%- endfor -%}

</div>
