---
title     : !!str Verification
nav_order : !!int 2
permalink : !!str /installation-image/verification
parent    : !!str Installation image
---

{% include preparation/iso_verification.md %}
